{% extends "CARTOUCH/base.html" %}
{% block content %}
{% load staticfiles %}

<body id="page-top">

    <section id="features" class="features">
        <div class="container">
            <div class="row">

                    <h2>{{cartouche.nom}} :</h2> <p>Merci qui? Merci {{cartouche.auteur}}</p> </br>
                    
                        
                        <div class="col-md-6">
                        <p>Matière: {{cartouche.matiere}}</p>
                        <p>Description: {{cartouche.description}}</p> </br>
                        
                        
                        </div>
                        
                        <div class="col-md-6">
                            <p>Les fichiers :</p>
                            
                            {% for f in documents %}
                                <div class="col-md-6"> 
                                <a href="https://www.pythonanywhere.com/user/maximiliengdb/files/{{f.upload.url}}" type="button" class="btn btn-default btn-lg btn-block" style="font-size: 13px;"> {{f.upload|truncatechars_html:20}} </b></a>
                                </div> 
                            {% endfor %}
                       </div>
            </div>
        </div>
    </section>

   

{% endblock %}
   