{% extends "CARTOUCH/base.html" %}
{% block content %}
{% load staticfiles %}

<body id="page-top">

    <section id="features" class="features">
        <div class="container">
            <div class="row">
            
                
                <div class="col-md-12">
 
                            
                            <h2>Choisis ta matière</h2> </br>
                            
                            <div class="col-md-6" style="margin-bottom : 10px;">
                                <a  href="/lesdocuments/?matiere=Contrôle de gestion en milieu spécifique" type="button" class="btn btn-default btn-lg btn-block" style="font-size: 16px">Contrôle de gestion en milieu spécifique </a>
                             </div>
                             
                              <div class="col-md-6" style="margin-bottom : 10px;">
                                <a  href="/lesdocuments/?matiere=Le système d'information en contrôle de gestion" type="button" class="btn btn-default btn-lg btn-block" style="font-size: 16px">Le système d'information en </br>contrôle de gestion</a>
                             </div>
                             
                             <div class="col-md-6" style="margin-bottom : 10px;">
                                <a  href="/lesdocuments/?matiere=Droit du financement des entreprises" type="button" class="btn btn-default btn-lg btn-block" style="font-size: 16px">Droit du financement des entreprises </a>
                             </div>
                             
                             <div class="col-md-6" style="margin-bottom : 10px;"> 
                                <a  href="/lesdocuments/?matiere=Normalisation et normes comptables internationales" type="button" class="btn btn-default btn-lg btn-block" style="font-size: 16px">Normalisation et normes comptables</br> internationales </a>
                             </div>
                             
                             <div class="col-md-6" style="margin-bottom : 10px;">
                                <a  href="/lesdocuments/?matiere=Pilotage de l'entreprise et maîtrise des risques" type="button" class="btn btn-default btn-lg btn-block" style="font-size: 16px">Pilotage de l'entreprise et</br> maîtrise des risques</a>
                             </div>
                             
                             <div class="col-md-6" style="margin-bottom : 10px;">
                                <a  href="/lesdocuments/?matiere=Individus et organisations : pouvoir, culture et prise de décision" type="button" class="btn btn-default btn-lg btn-block" style="font-size: 16px">Individus et organisations : pouvoir, </br>culture et prise de décision </a>
                             </div>
                             
                             <div class="col-md-6" style="margin-bottom : 10px;">
                                <a  href="/lesdocuments/?matiere=Glob’strat" type="button" class="btn btn-default btn-lg btn-block" style="font-size: 16px">Glob’strat </a>
                             </div>
                             
                             <div class="col-md-6" style="margin-bottom : 10px;">
                                <a  href="/lesdocuments/?matiere=Le monde des affaires dans l'art" type="button" class="btn btn-default btn-lg btn-block" style="font-size: 16px">Le monde des affaires dans l'art </a>
                             </div>
                             
                             <div class="col-md-6" style="margin-bottom : 10px;">
                                <a  href="/lesdocuments/?matiere=Responsabilité dans l'entreprise et développement durable" type="button" class="btn btn-default btn-lg btn-block" style="font-size: 16px">Responsabilité dans l'entreprise </br>et développement durable</p> </a>
                             </div>
                             
                              
                            </div>
                        </div>
                    </div>
               
    </section>
        

   

{% endblock %}
   